.head {
  background-color: #08d9d6;
  font-family: 'Marck Script', cursive;
  color: #212121;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 50px;
}
body {
  background-color: #eaeaea;
}
.border {
  border-top-style: dotted;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  margin-left: 350px;
  margin-right: 350px;
  border-radius: 50px;

}
