
h1 {
  background-color: #08d9d6;
  position: relative;
  margin-left: 0px;
  padding-left: 550px;
  padding-top: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
  color: #212121;
  top: 250px;
  border-radius: 50px;


}
body {
  background-color: #eaeaea;
}
p {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 250px;
  padding-left: 615px;
  color: #eaeaea;
}

.ok {
  color:#212121;
  padding-left: 550px;
}
